@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}

h3{
    color: #ffffff; 
    padding-left: 10px
}

.bg_color{
    background: radial-gradient(#FFFFFF, #075B1A); 
    background-repeat: no-repeat; 
    background-size: 100% auto; 
    background-attachment: fixed;
}


.full_width{
    width: 100%;
}

.box_shadow{
    border-radius: 2px;
    box-shadow: 1px 1px 1px 2px #075B1A;
}

.noticeText {
    color: #075B1A;


}
.noticeText:hover {
    color: #1b7c86;
    text-decoration: none;

}

.wrap_img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.imgBox { 
    text-align: justify;
    width: 100%px;
    margin: 10px;
    border: 1px solid #dbd8d8; 
    border-radius: 10px;
    padding-bottom: 10px;

} 

.imgBox:hover { 
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc; 
    border: 1px solid #999999;

} 

.heading{
    font-size: 13pt;
    color: #075B1A;
    padding: 3px;
    border-bottom: 1px solid #075B1A;
}
